table {
    margin: 50px;   
}
table th{
    background-color: orange;
    margin: 50px;
    width:100px;
    height: 50px;
}

table td{
    background-color: rgb(250, 248, 243);
    margin: 50px;
    width:100px;
    height: 50px;
}
